@{
    ViewData["Title"] = "Home Page";
}


<a asp-controller="Pets" asp-action="Index" class="btn btn-primary">View Pets</a>

<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>